<div class="site-l-wrapper">
  <%= render "claims/forms/#{@form_number}" %>
  <%= link_to 'Back to User', user_url %>
</div>
<div class='col-md-6 offset-md-3'>
  <% if Figaro.env.debug_access_token? %>
    <hr />
    <h3>My session token</h3>

    <div class='well' id='access_token'><%= @session.access_token %></div>
  <% end %>
</div>